@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    background-color: #a49fa4;
    color: #F9FAF8 ;
}

section{
    width: 1440px;
    min-height: 227px;
    margin: auto;
    display: flex;
    justify-content: center;
}

section.welcome{
    background-color: #4a474a;
}

.container{
    width: 1024px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.container > div{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container > div:nth-child(1){
    /* align-self: flex-end; */
    font-size: 28px;
    font-weight: 300;
}
.container > div:nth-child(2){
    /* align-self: flex-start; */
    font-size: 38px;
    font-weight: 900;
    /* flex: 3 0%; */
}

.container > div:nth-child(3){
    font-size: 18px;
    font-weight: 200;
    /* flex: 3 0%; */
}

.sign{
    font-size: 18px;
    font-weight: 200;
}

.trowButtons{
    width:480px;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.trowButtons > button{
    width: 160px;
    min-height: 160px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 29, 31);
    border-radius: 80px;
    border: 1px solid rgb(157, 124, 137);
    cursor: pointer;
    font-size: 34px;
    color: #F9FAF8;
    font-weight: 100;
}
.trowButtons > button:hover{
    background-color: rgb(242, 10, 99);
}

.trowButtons > button:disabled {
    background-color: rgb(123, 116, 119);
}
.score-item{
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-right: 7px;
}

/* BUTTONS */
.btn{
    padding: 14px 36px;
    border:0;
    border-radius: 4px;
    color: #634751;
    font-size: 18px;
    cursor: pointer;
}
.btn-lucid{ background-color: #dde0e6; }
.btn-lucid:hover{ background-color: rgb(242, 10, 99);  color: white}